<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transaction</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list #transactionList>

    <ion-item-group *ngFor="let transaction of transaction_history">
      <ion-item-divider sticky>
        <ion-label>
          {{transaction["date"]}}
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem [attr.track]="transaction['name'] | lowercase" >
        <button ion-item (click)="goToTransactionDetail(transaction)">
          <h3>{{transaction["name"]}}</h3>
          <p>
            ${{transaction["amount"]}}
          </p>
        </button>
      </ion-item-sliding>
    </ion-item-group>

  </ion-list>

  <!--<ion-card *ngFor="let transaction of transaction_history" class="speaker-card">

      <ion-card-header>
        <button ion-item detail-none (click)="goToTransactionDetail(transaction)">
            <h3>name: {{transaction["name"]}}</h3>
        </button>
      </ion-card-header>

      <ion-card-content class="outer-content">
        <ion-list>
          <button ion-item>
            <h3>amount: {{transaction["amount"]}}</h3>
          </button>

          <button ion-item>
            <h3>date: {{transaction["date"]}}</h3>
          </button>

        </ion-list>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="primary" icon-left (click)="goToSpeakerTwitter(speaker)">
            <ion-icon name="logo-twitter"></ion-icon>
            Tweet
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="primary" icon-left (click)="openSpeakerShare(speaker)">
            <ion-icon name='share-alt'></ion-icon>
          Share
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="primary" icon-left (click)="openContact(speaker)">
            <ion-icon name='chatboxes'></ion-icon>
            Contact
          </button>
        </ion-col>
      </ion-row> 
  </ion-card>-->
</ion-content>
